body {
  background-color: rebeccapurple;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  text-transform:full-width;
  margin: 100px;

 }
  a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px


  }
  a:hover {
    color: cornflowerblue;

  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin: 25px
  }
  h1{
    font-size: 60px
  }
  h2{
    color: yellow;
  }
  .container{
    width: 50%
    margin: 100px auto;
  }
