body {
  background-color: MEDIUMPURPLE;
  color: PEACHPUFF;
  font-family: Noto Sans, sans-serif;
  font-size: 110px;
  font-weight: 100px;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: 50px;







  }
  a {
    color: white;
    font-size: 45px;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 20px




  }
  a:hover {
    color: sandybrown;

  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin: 25px
  }

  #images {
    margin: 0;
    text-align: center;
  }
  #images img {
    max-width: 100%;
    margin:25px 0;
  }
